# Enforce Unix newlines
* text=lf

# Exclude unused files
# see: https://redd.it/2jzp6k
/tests              export-ignore
/.codeclimate.yml   export-ignore
/shippable.yml      export-ignore
/wercker.yml        export-ignore
/.gitattributes     export-ignore
/.travis.yml        export-ignore
/.htaccess          export-ignore
/TODO               export-ignore
/phpcs.xml          export-ignore
/phpunit.xml        export-ignore
/Documentation      export-ignore
/Vagrantfile        export-ignore
