/application/
/build/
/Documentation/site
/Documentation/.couscous
/Documentation/docs/API
/vendor/
.env
composer.lock
composer.phar
vagrant.xml
.php_cs.cache
*.original~
*~

# test files
testLog.log

# Vagrant
acceptance_config.yml
boxes/*
/.vagrant
/website/.vagrant
/website/build
/vagrant-spec.config.rb
ubuntu-xenial-16.04-cloudimg-console.log

# Database
/tests/*.sqlite

# Logs
/tests/*.log

# Code Climate
/coverage
/cc-test-reporter

#Twig
/view
/cache
